@import './base.css';

body {
  margin: 0;
}

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--text);
}

svg path {
  stroke: var(--text) !important;
}
svg text {
  fill: var(--text) !important;
}

.viewBox {
  border: 1px solid var(--text);
  border-radius: 10px;
  box-shadow: var(--background-modified) 10px 10px;
  padding: 25px 50px 25px 50px;
}

.circleButton {
  cursor: pointer;
  border: 1px solid var(--text);
  border-radius: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 25px;
  padding: 5px !important;
  line-height: 1 !important;
}